* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 0;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

:root {
  /*COLOR*/
  --main-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: white;
  --main-text-color: #54585a;
  --secondary-text-color: #b8b8b9;
  --heading-color: black;
  --background-color: #0b1754;
  /* FONTS */
  --primary-font: "Open Sans", sans-serif;
  --primary-font-bold: "Open Sans", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

.top {
  font-family: var(--secondary-font);
  color: var(--light-color);
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
  position: fixed;
  top: 0;
}
.teamName {
  background-color: var(--main-color);
  font-size: 1rem;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}

.menuItems {
  background-color: var(--secondary-color);
  font-size: 0.938rem;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.9;
}
.menuItems li {
  display: inline-block;
}

.hero {
  height: 421px;
  width: 320px;
  background-image: url(/img/power_ranger.png);
  background-size: auto 60%;
  background-position: center;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero div {
  display: flex;
  margin: auto;
  position: relative;
  align-items: center;
  top: 35%;
  flex-direction: row;
  width: 290px;
  height: 80px;
  background-color: var(--light-color);
}
.claim {
  font-family: var(--primary-font-bold);
  font-size: 1.125rem;
  background-color: var(--light-color);
  padding-left: 25px;
}

#team {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}

.strengthBlocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}

.fab,
.fas {
  color: var(--main-color);
}

.teamBlock {
  background-color: var(--light-color);

  width: 320px;
  /* margin: ; */
}
/* margenes superior/inferior
1.875rem  1.875rem  */

.teamBlock p {
  margin-right: 0.938rem;
  margin-left: 0.938rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--main-text-color);
  line-height: 1.5rem;
}

body {
  max-width: 768px;
}
.strengthBlocks h3 {
  color: var(--main-color);
  font-size: 1.375 rem;
  box-sizing: 290px, 45px;
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}

.strengths {
  box-sizing: 15px, 1046px, 290px, 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strengths h3 {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}
.weakness h3 {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}

.weakness {
  box-sizing: 15px, 1046px, 290px, 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUsBlock {
  width: 320px;
}
#aboutUs {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--main-color);
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}
.aboutUsBlock h4 {
  font-size: 1.25rem;
  font-family: var(--primary-font);
  color: var(--heading-color);
}

.aboutUsBlock p {
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--main-text-color);
  text-align: center;
  margin-right: 0.938rem;
  margin-left: 0.938rem;
  line-height: 1.5rem;
}
.teamplayer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 1px red;
}

.pic img {
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.bioBlock {
  display: flex;
  flex-direction: column;
}

.socialMedia {
  margin-top: 15px;
  margin-bottom: 15px;
}

.socialMedia ul,
.names {
  display: flex;
  justify-content: center;
}

.socialMedia li {
  display: inline;
}

.socialMedia li:not(:last-child):after {
  padding: 10px;
  content: "·";
  color: var(--main-color);
  font-weight: bolder;
}

.footer {
  background-color: var(--light-color);
  font-size: 14px;
  font-family: var(--primary-font);
  border-top: 1px solid var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 250px;
}
.footer p {
  color: var(--secondary-text-color);
}
.footer li {
  color: var(--main-text-color);
  text-align: center;
}

.logo {
  display: inline-block;
  width: 115.9px;
  height: 45px;
}

.logo img {
  width: 100%;
}

.rectangle {
  /* position: relative; */
  margin: auto;
  height: 30px;
  width: 30px;
  transform: translateY(-50%) rotate(45deg);
  background-color: var(--light-color);
  z-index: 990;
}
