/* COMANDOS DE RESET */

* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 0;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

/* VARIABLES */

:root {
  /*COLOR*/
  --main-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: white;
  --main-text-color: #54585a;
  --secondary-text-color: #b8b8b9;
  --heading-color: black;
  --background-color: #4ab6ab67;
  /* FONTS */
  --primary-font: "Open Sans", sans-serif;
  --primary-font-bold: "Open Sans", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}
/* GENERAL */

html {
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* MENU Y HEADER */

.top {
  font-family: var(--secondary-font);
  color: var(--light-color);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
  position: fixed;
  top: 0;
  max-width: 1200px;
}
.teamName {
  background-color: var(--main-color);
  font-size: 1rem;
  height: 3.75rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}

.menuItems {
  background-color: var(--secondary-color);
  font-size: 0.938rem;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.9;
}
.menuItems li {
  display: inline-block;
}

/* HERO */

.hero {
  height: 26.31rem;
  background-image: url("../img/power_ranger.png");
  background-size: auto 60%;
  background-position: center;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  width: 100%;
}

.hero div {
  flex-direction: row;
  height: 80px;
  width: 90%;
  background-color: var(--light-color);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.claim {
  font-family: var(--primary-font-bold);
  font-size: 1.125rem;
  background-color: var(--light-color);
  margin: 0.875rem 0.9375rem 1rem 0.875rem;
}

/* TEAM BLOCK */

#team {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}

.teamBlock {
  margin-top: 2.813rem;
  background-color: var(--light-color);
}

.teamBlock p {
  margin-right: 0.938rem;
  margin-left: 0.938rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--main-text-color);
  line-height: 1.5rem;
}

/* STRENGTHS AND WEAKNESS */

.rectangle {
  height: 30px;
  width: 30px;
  background-color: var(--light-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 990;
}

.strengthBlocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  margin-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.strengthBlocks h3 {
  color: var(--main-color);
  font-size: 1.375 rem;
  box-sizing: 290px, 45px;
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}

.strengths {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.strengths h3 {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}
.weakness h3 {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}

.weakness {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

/* ABOUT US */

#aboutUs {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: var(--main-color);
  margin-top: 1.875rem;
  margin-bottom: 0.938rem;
}
.aboutUsBlock h4 {
  font-size: 1.25rem;
  font-family: var(--primary-font);
  color: var(--heading-color);
}

.aboutUsBlock p {
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--main-text-color);
  text-align: center;
  line-height: 1.5rem;
}

/* TEAM MEMBERS */

.teamplayer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
}

.teamplayer p {
  margin-right: 0.938rem;
  margin-left: 0.938rem;
}

.pic img {
  display: block;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  max-width: 180px;
  box-sizing: content-box;
}

.bioBlock {
  display: flex;
  flex-direction: column;
}

/* SOCIAL MEDIA BUTTONS */

.fab,
.fas {
  color: var(--main-color);
}

.socialMedia {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.socialMedia ul,
.names {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.socialMedia li {
  display: inline;
}

.socialMedia li:not(:last-child):after {
  padding: 10px;
  content: "·";
  color: var(--main-color);
  font-weight: bolder;
}

/* FOOTER */

.footer {
  background-color: var(--light-color);
  font-size: 14px;
  font-family: var(--primary-font);
  border-top: 1px solid var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footerCopy p {
  color: var(--secondary-text-color);
  padding-top: 1.25rem;
}
.footer li {
  color: var(--main-text-color);
  text-align: center;
  padding: 0.125rem;
}

.footer .footerMenu {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.logo {
  display: inline-block;
  width: 7.25rem;
  height: 2.813rem;
}

.logo img {
  width: 100%;
}

/* RESPONSIVE */

@media all and (min-width: 768px) {
  /* MENU Y HEADER */

  .top {
    font-family: var(--secondary-font);
    color: var(--light-color);
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    opacity: 0.95;
  }

  .top ul {
    background-color: transparent;
  }

  .teamName {
    justify-content: flex-start;
    margin-left: 2.813rem;
  }

  .menuItems {
    height: auto;
    margin-right: 2.813rem;
  }

  /* HERO */

  .hero {
    background-size: 150%;
  }
  .hero div {
    bottom: 0;
    left: 0;
    transform: translate(0%, 0%);
    margin-left: 2.875rem;
    margin-right: 17.56rem;
    width: auto;
    opacity: 0.8;
  }

  /* STRENGTHS AND WEAKNESS */

  .strengthBlocks {
    flex-direction: row;
  }

  /* TEAM MEMBERS */

  .pic img {
    max-width: 206px;
  }

  .bioBlock p {
    margin: 0;
    width: 27.5rem;
  }

  /* Imagen a la izquierda */
  .teamplayer:nth-child(even) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 2.75rem;
    margin-right: 2.75rem;
  }

  .teamplayer:nth-child(even) .bioBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.875rem;
  }

  .teamplayer:nth-child(even) p {
    text-align: left;
  }

  /* Imagen a la derecha */
  .teamplayer:nth-child(odd) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 2.75rem;
    margin-right: 2.75rem;
  }

  .teamplayer:nth-child(odd) .bioBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.875rem;
    order: 1;
  }
  .teamplayer:nth-child(odd) .pic {
    order: 2;
  }
  .teamplayer:nth-child(odd) p {
    text-align: right;
  }

  /* FOOTER */

  .footer {
    box-sizing: content-box;
    position: relative;
    padding-left: 2.813rem;
    padding-right: 2.813rem;
    padding-bottom: 1.5rem;
  }

  .footerTablet {
    width: 100%;
    margin-top: 1.5rem;
    position: relative;
  }

  .footerCopy p {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    padding-top: 0.375rem;
  }

  .boxFooter {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer .footerMenu {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footerMenu ul {
    display: flex;
    height: 5.625rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer li {
    text-align: right;
  }
  .footerTablet .logo {
    width: 7.25rem;
    padding-bottom: 50px;
  }
}
