* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /*COLOR*/
  --main-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: white;
  --main-text-color: #54585a;
  --secondary-text-color: #b8b8b9;
  --heading-color: black;

  /* FONTS */
}

div {
  border: 2px solid blue;
}
header {
  border: 2px solid purple;
}
footer {
  border: 2px solid purple;
}
.fab,
.fas {
  color: #099d8d;
}
