* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /*COLOR*/
  --main-color: #099d8d;
  --secondary-color: #14d9c4;
  --light-color: white;
  --main-text-color: #54585a;
  --secondary-text-color: #b8b8b9;
  --heading-color: black;

  /* FONTS */
}

div {
  border: 2px solid blue;
}
header {
  border: 2px solid purple;
}
footer {
  border: 2px solid purple;
}
.fab,
.fas {
  color: #099d8d;
}
.teamBlock {
  background-color: (var--light-color: white);
  width: 320px;
  height: 504px;
}
#team {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.strengthBlocks {
  background-color: brown;
  width: 320px;
  height: 225px;
  display: flex;
  flex-direction: column;
}

.h3 {
  color: (var --main-color: #099d8d);
  box-sizing: 290px, 45px;
  display: flex;
  justify-content: center;
}
.strengths {
  background-color: chocolate;
  box-sizing: 15px, 1046px, 290px, 192px;
  display: flex;
  flex-direction: column;
}
.weakness {
  background-color: crimson;
  display: flex;
  justify-content: center;
}
.aboutUsBlock {
  width: 320px;
  height: ;
  background-color: darkgreen;
}
#aboutUs {
  background-color: darkmagenta;
  display: flex;
  justify-content: center;
}
.teamplayer {
  background-color: darkturquoise;
}
.picAna {
  background-color: firebrick;
}
