<footer class="footer">
  <div class="footerTablet">
    <span class="footerCopy">
      <p>Power FrontEnd ©2020</p>
    </span>
    <div class="boxFooter">
      <nav class="footerMenu">
        <ul>
          <li><a href="#team" tittle="Ir a Equipo">EQUIPO</a></li>
          <li>
            <a href="#aboutUs" tittle="Ir a Quienes Somos">QUIÉNES SOMOS</a>
          </li>
          <li><a href="contact" tittle="Ir a Contacto">CONTACTO</a></li>
        </ul>
      </nav>
      <div class="logo">
        <a href="https://adalab.es/"
          ><img src="./assets/images/logo-adalab.png" alt="Adalab"
        /></a>
      </div>
    </div>
  </div>
</footer>
