<footer class="footer">
  <div class="footer__tablet wrapper">
    <span class="footer__tablet__copy">
      <small><p>Power FrontEnd ©2020</p></small>
    </span>
    <nav class="footer__box__menu">
        <ul>
          <li><a href="@@teamUrl" title="Ir a Equipo">EQUIPO</a></li>
          <li>
            <a href="@@aboutusUrl" title="Ir a Quienes Somos">QUIÉNES SOMOS</a>
          </li>
          <li><a href="@@contactUrl" title="Ir a Contacto">CONTACTO</a></li>
        </ul>
      </nav>
      <div class="footer__box__logo">
        <div><a href="https://adalab.es/"
          ><img src="./assets/images/logo-adalab.png" alt="Adalab"
        /></a></div>
        
      </div>
  </div>
</div>
</footer>
