<footer class="footer">
  <div class="footer__tablet wrapper">
    <span class="footer__tablet__copy">
      <p>Power FrontEnd ©2020</p>
    </span>
    <div class="footer__box">
      <nav class="footer__box__menu">
        <ul>
          <li><a href="@@team-url" tittle="Ir a Equipo">EQUIPO</a></li>
          <li>
            <a href="@@aboutus-url" tittle="Ir a Quienes Somos">QUIÉNES SOMOS</a>
          </li>
          <li><a href="@@contact-url" tittle="Ir a Contacto">CONTACTO</a></li>
        </ul>
      </nav>
      <div class="footer__box__logo">
        <a href="https://adalab.es/"
          ><img src="./assets/images/logo-adalab.png" alt="Adalab"
        /></a>
      </div>
    </div>
  </div>
</div>
</footer>
