<main>
  <section class="hero">
    <div>
      <h1 class="hero__claim">
        <em>Go go power rangers! Go go power rangers! Go go power rangers!</em>
      </h1>
    </div>
  </section>
  <include src="./teamblock.html"></include>

  <section class="aboutUs">
    <h2 id="aboutUs">QUIÉNES SOMOS</h2>
    <include
      src="./teamPlayer.html"
      pic="./assets/images/foto_Ana.jpg"
      picAlt="Ana Maria"
      nameH4="Ana María Caruntu"
      description="Soy Ana Caruntu. Me recordaréis por taquillazos como “HTML V”, el
	  multi galardonado “Código a muerte en Torremolinos” o por ser el
	  Power Ranger rojo en la mítica serie. Me gustan los dulces, los
	  salaos y los gatitos. Con mi toque y mi 'style' tu web se adaptará a
	  cualquier formato."
      refTwitter="http://www.twitter.com/perfiltwitter"
      refLinkedin="http://www.linkedin.com/perfilLinkedin"
      refGithub="https://github.com/anamcaruntu"
      refMail="mailto:correo@gmail.com"
    ></include>

    <include
      src="./teamPlayer.html"
      pic="./assets/images/foto_Lucia.jpg"
      picAlt="Lucía Martínez"
      nameH4="Lucía Martínez"
      description="Entomóloga cazadora de bugs por naturaleza, la Power Frontend azul se topa con todos los bichejos que tenga tu código. Ejecutando git gud se maneja con tu programa de control de versiones favorito para evitar conflictos con la Reina Bansheera."
      refTwitter="http://www.twitter.com/lu_dmr"
      refLinkedin="http://www.linkedin.com/perfilLinkedin"
      refGithub="https://github.com/lucimart"
      refMail="mailto:luci.dmartinez@gmail.com"
    ></include>

    <include
      src="./teamPlayer.html"
      pic="./assets/images/foto_Sonia.jpg"
      picAlt="Sonia Sanz"
      nameH4="Sonia Sanz"
      description="Bajo el casco de la PowerFrontend amarilla se esconde Sonia Sanz, cabezota y perfeccionista a partes iguales, no parará mientras Rita siga libre o mientras quede una etiqueta sin cerrar. Cree que el mundo sería un lugar mejor con más Dinobots y menos márgenes por defecto."
      refTwitter="http://www.twitter.com/perfiltwitter"
      refLinkedin="http://www.linkedin.com/perfilLinkedin"
      refGithub="https://github.com/Sonia-SV"
      refMail="sonia.sanzvivas@gmail.com"
    ></include>
    <include
      src="./teamPlayer.html"
      pic="./assets/images/foto_Marta.jpg"
      picAlt="Marta Soler"
      nameH4="Marta Soler"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
      ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit
      at ante eget auctor. Cras hendrerit at ante eget auctor. Cras
      hendrerit at ante eget auctor. Cras Cras hendrerit at ante."
      refTwitter="http://www.twitter.com/perfiltwitter"
      refLinkedin="http://www.linkedin.com/perfilLinkedin"
      refGithub="https://github.com/martaluciasoler"
      refMail="mailto:correo@gmail.com"
    ></include>

    <include
      src="./teamPlayer.html"
      pic="./assets/images/foto_Miriam.jpg"
      picAlt="Miriam Suárez"
      nameH4="Miriam Suárez"
      description="Miriam Suárez aka Miriam Schaefer es el power-ranger rosa. Con mucho ojo para los detalles y gusto por las cosas bonitas, se encargará de que todos los elementos de tu página queden fetén. Fan incondicional de Oasis, de las croquetas y los boquerones en vinagre."
      refTwitter="http://www.twitter.com/miriam_schaefer"
      refLinkedin="http://www.linkedin.com/perfilLinkedin"
      refGithub="https://github.com/miriamschaefer"
      refMail="mailto:msuarezmelian@gmail.com"
    ></include>
</main>
