<article class="teamplayer">
  <div class="pic">
    <img src="@@pic" alt="@@picAlt" />
  </div>

  <div class="bioBlock">
    <div class="names"><h4>@@nameH4</h4></div>
    <div class="bio">
      <p>
        @@description
      </p>
    </div>

    <div class="socialMedia">
      <ul>
        <li>
          <!--TODO: twitter de Ana-->
          <a
            class="fab fa-twitter"
            title="Ir a Twitter"
            href="@@refTwitter"
            target="_blank"
          >
          </a>
        </li>
        <li>
          <a
            class="fab fa-linkedin-in"
            title="Ir a Linkedin"
            href="@@refLinkedin"
            target="_blank"
          >
          </a>
        </li>
        <li>
          <a
            class="fab fa-github-alt"
            title="Ir a Github"
            href="@@refGithub"
            target="_blank"
          >
          </a>
        </li>
        <li>
          <a
            class="fas fa-envelope"
            title="Enviar E-mail"
            href="@@refMail"
            target="_blank"
          >
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
