  <section class="team">
  <div class="wrapper">
    <h2 id="team">Equipo</h2>
    <p>
      Cuando la malvada Desigualdad de Género es liberada por error de su
      prisión espacial, la poderosa hechicera Adalab recluta a un grupo de
      mujeres de destacadas habilidades para enfrentarse a su archienemiga y
      recuperar el espacio femenino en el mundo tecnológico.
    </p>
    <p>
      Para esta misión contarán con etiquetas, propiedades especiales y la
      capacidad de invocar poderes extraordinarios procedentes de los
      legendarios lenguajes de programación. A estas anónimas programadoras las
      conocemos como las
    </p>
    <p><strong>Power Front-End</strong>.</p>
  </div>
</div>
  <div class="team__virtues">
    <div class="team__virtues__rectangle"></div>
    <div class="wrapper">
    <article class="team__virtues__strengths">
      
      <h3>Fortalezas</h3>
      <p>
        Construyendo tu página con semántica y accesibilidad, te posicionamos en
        lo más alto de las búsquedas. Nuestro manejo del CSS embellecerá tanto
        tu página que el propio Lord Zedd quedará encantado y no destruirá la
        Tierra.
      </p>
    </article>

    <article class="team__virtues__weakness">
      <h3>Debilidades</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
        ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at
        ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
        interdum neque et aliquam varius.
      </p>
   
    </article> 
  </div>
  </div>
</section>
