/* FOOTER */

.footer {
  background-color: $light-color;
  font-size: 14px;
  font-family: $primary-font;
  border-top: 1px solid $secondary-text-color;

  &__tablet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "copy" "menu" "logo";
    text-align: center;

    &__copy {
      grid-area: copy;
      & p {
        color: $secondary-text-color;
        padding-top: 1.25rem;
      }
    }
  }

  & li {
    color: $main-text-color;
    text-align: center;
    padding: 0.125rem;
  }
  &__box__menu {
    grid-area: menu;
  }

  &__box__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: logo;

    & div {
      padding-top: 1.875rem;
      width: 7.25rem;
    }

    & img {
      width: 100%;
    }
  }
}

//responsive

@include tablet {
  .footer {
    box-sizing: content-box;
    position: relative;
    padding-left: 2.813rem;
    padding-right: 2.813rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;

    &__tablet {
      width: 100%;
      margin-top: 1.5rem;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "copy menu" "logo menu";
    }

    &__box__logo {
      justify-content: flex-start;
      & div {
        padding-top: 0;
      }
    }

    &__tablet__copy p {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 0;
      padding-top: 0;
    }

    &__box__menu {
      margin-top: 0;
      margin-bottom: 0;

      & ul {
        display: flex;
        height: 5.625rem;
        flex-direction: column;
        justify-content: space-between;

        & li {
          text-align: right;
        }
      }
    }
  }
}
